# 위도경도 좌표값 WSG-84 -> UTM-K

In [9]:
import pandas as pd
import geopandas as gpd
import pickle
from pyproj import Proj, transform

In [3]:
df = pd.read_csv('/Users/jacob/Desktop/VS_Code_Repository/DeepLearning_Alpaco/빅콘테스트2022/Raw data/ev_app_resident.csv')

In [5]:
proj_UTMK = Proj(init='epsg:5178')
proj_WSG84 = Proj(init='epsg:4633')

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pyproj/crs/crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [6]:
def national_geocode(df):
    global proj_UTMK
    global proj_WSG84

    dic_x={'7':'가','8':'나','9':'다','10':'라','11':'마','12':'바','13':'사'}
    dic_y={'13': '가','14': '나','15': '다','16': '라','17': '마','18': '바','19': '사','20': '아'}

    df['UTM-K_longitude'],df['UTM-K_latitude']= transform(proj_WSG84,proj_UTMK,df['cell_xcrd'],df['cell_ycrd'])
    df['UTM-K_longitude']=df['UTM-K_longitude'].apply(int).apply(str)
    df['UTM-K_latitude']=df['UTM-K_latitude'].apply(int).apply(str)
    
    print(df.info)
    print(df.describe)
    df['국가지점번호']=df['UTM-K_longitude'].str[:-5]+df['UTM-K_latitude'].str[:-5]+df['UTM-K_longitude'].str[-5:-2]+df['UTM-K_latitude'].str[-5:-2]
    df['국가지점번호']=pd.Series([dic_x[i[:-8]]+dic_y[i[-8:-6]]+i[-6:] for i in df['국가지점번호']])

    return df

In [7]:
national_geocode(df)

/var/folders/dg/r7sz0nv571df9p73wq5ztzgc0000gn/T/ipykernel_38284/3561733051.py:13: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  df['UTM-K_longitude'],df['UTM-K_latitude']= transform(proj_WSG84,proj_UTMK,df['cell_xcrd'],df['cell_ycrd'])

<bound method DataFrame.info of          base_dt  dow  ccw_cd ccw_nm   adng_cd adng_nm   cell_id   cell_xcrd  \
0       20220605    7    4146    용인시  41463572    동백1동  86135034  127.152250
1       20220625    6    4146    용인시  41465580    상현2동  84375196  127.090080
2       20220614    2    4146    용인시  41461250     포곡읍  87958893  127.216600
3       20220619    7    4146    용인시  41465530     신봉동  84119243  127.080970
4       20220624    5    4146    용인시  41465580    상현2동  84423187  127.091780
...          ...  ...     ...    ...       ...     ...       ...         ...
292038  20220605    7    4146    용인시  41465570    상현1동  84071205  127.079384
292039  20220607    2    4146    용인시  41461510     중앙동  87286847  127.193080
292040  20220611    6    4146    용인시  41461259     남사읍  86630714  127.170300
292041  20220618    6    4146    용인시  41461360     양지면  89926672  127.286095
292042  20220618    6    4146    용인시  41465510   풍덕천1동  84343235  127.088860

        cell_ycrd  gender  age app_web  time_zone  count_cust UTM-K_longitude  \
0       37.286300    MALE    6   EV라운지          5       3.522          969178
1       37.309536    MALE    8  파워큐브차저          2       4.231          963679
2       37.274303  FEMALE   14   EV라운지          1      18.440          974878
3       37.323480    MALE   13   EV라운지          2       4.335          962879
4       37.306840    MALE    8   EV라운지          4       4.231          963828
...           ...     ...  ...     ...        ...         ...             ...
292038  37.304993    MALE    2   EV라운지          3       5.082          962729
292039  37.234580    MALE    3   EV라운지          6       4.585          972778
292040  37.156097    MALE   13   EV라운지          2       6.452          970728
292041  37.230280    MALE    9   EV라운지          6       3.071          981027
292042  37.326210    MALE    9    하이차저          2       3.667          963579

       UTM-K_latitude
0             1920883
1             1923483
2             1919533
3             1925033
4             1923183
...               ...
292038        1922983
292039        1915133
292040        1906434
292041        1914634
292042        1925333

[292043 rows x 16 columns]>
<bound method NDFrame.describe of          base_dt  dow  ccw_cd ccw_nm   adng_cd adng_nm   cell_id   cell_xcrd  \
0       20220605    7    4146    용인시  41463572    동백1동  86135034  127.152250
1       20220625    6    4146    용인시  41465580    상현2동  84375196  127.090080
2       20220614    2    4146    용인시  41461250     포곡읍  87958893  127.216600
3       20220619    7    4146    용인시  41465530     신봉동  84119243  127.080970
4       20220624    5    4146    용인시  41465580    상현2동  84423187  127.091780
...          ...  ...     ...    ...       ...     ...       ...         ...
292038  20220605    7    4146    용인시  41465570    상현1동  84071205  127.079384
292039  20220607    2    4146    용인시  41461510     중앙동  87286847  127.193080
292040  20220611    6    4146    용인시  41461259     남사읍  86630714  127.170300
292041  20220618    6    4146    용인시  41461360     양지면  89926672  127.286095
292042  20220618    6    4146    용인시  41465510   풍덕천1동  84343235  127.088860

        cell_ycrd  gender  age app_web  time_zone  count_cust UTM-K_longitude  \
0       37.286300    MALE    6   EV라운지          5       3.522          969178
1       37.309536    MALE    8  파워큐브차저          2       4.231          963679
2       37.274303  FEMALE   14   EV라운지          1      18.440          974878
3       37.323480    MALE   13   EV라운지          2       4.335          962879
4       37.306840    MALE    8   EV라운지          4       4.231          963828
...           ...     ...  ...     ...        ...         ...             ...
292038  37.304993    MALE    2   EV라운지          3       5.082          962729
292039  37.234580    MALE    3   EV라운지          6       4.585          972778
292040  37.156097    MALE   13   EV라운지          2       6.452          970728
292041  37.230280    MALE    9   EV라운지          6       3.071          981027
292042  37.326210    MALE    9    하이차저          2       3.667          963579

       UTM-K_latitude
0             1920883
1             1923483
2             1919533
3             1925033
4             1923183
...               ...
292038        1922983
292039        1915133
292040        1906434
292041        1914634
292042        1925333

[292043 rows x 16 columns]>

,base_dt,dow,ccw_cd,ccw_nm,adng_cd,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust,UTM-K_longitude,UTM-K_latitude,국가지점번호
0,20220605,7,4146,용인시,41463572,동백1동,86135034,127.152250,37.286300,MALE,6,EV라운지,5,3.522,969178,1920883,다사691208
1,20220625,6,4146,용인시,41465580,상현2동,84375196,127.090080,37.309536,MALE,8,파워큐브차저,2,4.231,963679,1923483,다사636234
2,20220614,2,4146,용인시,41461250,포곡읍,87958893,127.216600,37.274303,FEMALE,14,EV라운지,1,18.440,974878,1919533,다사748195
3,20220619,7,4146,용인시,41465530,신봉동,84119243,127.080970,37.323480,MALE,13,EV라운지,2,4.335,962879,1925033,다사628250
4,20220624,5,4146,용인시,41465580,상현2동,84423187,127.091780,37.306840,MALE,8,EV라운지,4,4.231,963828,1923183,다사638231
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292038,20220605,7,4146,용인시,41465570,상현1동,84071205,127.079384,37.304993,MALE,2,EV라운지,3,5.082,962729,1922983,다사627229
292039,20220607,2,4146,용인시,41461510,중앙동,87286847,127.193080,37.234580,MALE,3,EV라운지,6,4.585,972778,1915133,다사727151
292040,20220611,6,4146,용인시,41461259,남사읍,86630714,127.170300,37.156097,MALE,13,EV라운지,2,6.452,970728,1906434,다사707064
292041,20220618,6,4146,용인시,41461360,양지면,89926672,127.286095,37.230280,MALE,9,EV라운지,6,3.071,981027,1914634,다사810146
292042,20220618,6,4146,용인시,41465510,풍덕천1동,84343235,127.088860,37.326210,MALE,9,하이차저,2,3.667,963579,1925333,다사635253

In [11]:
tar = gpd.read_file('/Users/jacob/Desktop/VS_Code_Repository/DeepLearning_Alpaco/빅콘테스트2022/Raw data/용인시_Grid_filtered_v4(ev_cnt by building_cnt).geojson')

In [13]:
a=df['국가지점번호'].value_counts()
tar['res_cnt']=0
for national_point,cnt in a.items():
    tar.loc[tar[tar['gid']==national_point].index,'res_cnt']=cnt

In [16]:
tar.to_file('/Users/jacob/Desktop/VS_Code_Repository/DeepLearning_Alpaco/빅콘테스트2022/Raw data/용인시_Grid_filtered_v5(app_cnt).geojson',index=False,encoding='utf-8')